<a href={{userDetail.url}}><-- back</a>
<div class="container">
  <div class="c-modal-overlay">
    <div class="c-modal c-modal--unibody">
      <div class="c-modal__header o-grid">
        <div class="o-grid__col o-grid__col--9-of-12"> <h2 class="f2">{{userDetail.name}}</h2> </div>
        <div class="o-grid__col o-grid__col--3-of-12">
          <div class="c-btn-group">
            <form action='' method="POST">
               <input class="c-input" placeholder="first name" type="text" required='true' name="first_name" value={{userDetail.first_name}}>

               <input class="c-input" placeholder="last name" type="text" required='true' name="last_name" value={{userDetail.last_name}}>

               <input class="c-input" placeholder="age" type="text" required='true' name="age" value={{userDetail.age}}>

               <input class="c-input" placeholder="email id" type="text" required='true' name="email_id" value={{userDetail.email_id}}>

               <input class="c-input" placeholder="phon no" type="text" required='true' name="phone_no" value={{userDetail.phone_no}}>

               <button class="c-btn c-btn--primary" type="submit" value="Submit">Submit</button>

          </form>

    </div>
  </div>
</div>
</div>
</div>
</div>
